# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Envs
.env
.venv/
venv/
env/

# OS / IDE
.DS_Store
.vscode/

# Big/raw data (keep it local or in releases)
data/
*.log

# Models (optional: use Git LFS if needed)
*.pkl
*.joblib
